/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 28px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

/* header section style */
.header {
    width: 100%;
    max-width: 1600px;
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left top;
    background-size: 500px, contain;
    padding: 25px 0 0;
}

/* nav related style */
.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.header .navbar .nav-title {
    color: #181818;
    font-size: 28px;
    font-weight: 800;
}

.header .navbar > ul {
    display: flex;
    align-items: center;
}

.header .navbar li {
    list-style: none;
    margin-right: 35px;
}

.header .navbar li a {
    text-decoration: none;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}


/* banner section styles */
.banner {
    padding: 30px 30px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 480px;
}

.banner-greeting {
    color: #474747;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-title {
    color: #181818;
    font-size: 42px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.banner-description {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner .profile-pic {
    width: 350px;
}

#contact {
    color: #FD6E0A;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    margin-left: 15px;
}

/* main section styles */
main {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    padding: 100px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 100px 0;
}

.about .section-description {
    color: #757575;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 20px 0;
}

.about .about-info-content {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
}

.about .about-info-content .about-info .info-title {
    color: #757575;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.about .about-info-content .about-info .info-description {
    color: #474747;
    font-size: 12px;
    font-weight: 700;
}

/* what i do section styles */
.what-i-do .section-description {
    padding: 20px 50px;
    color: #757575;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.what-i-do .skills-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.what-i-do .skills-container .skill {
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.what-i-do .skills-container .skill img{
    width: 30px;
    margin-bottom: 10px;
}
.what-i-do .skills-container .skill .skill-title {
    color: #181818;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.what-i-do .skills-container .skill .skill-description {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
}

/* Resume section styles */
.resume .resume-container .resume-column .resume-column-title {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.resume .resume-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 50px 0 0;
}

.resume .resume-container .resume-column .resume-item .resume-item-title {
    color: #474747;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.resume .resume-container .resume-column .resume-item .resume-item-institute {
    color: #757575;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.resume .resume-container .resume-column .resume-item .resume-item-description {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
}
hr{
    margin: 20px 0;
}
.resume .download-cv {
    text-align: center;
    margin-top: 35px;
}

/* footer section styles */
.footer {
    width: 100%;
    max-width: 1600px;
    background: #FFF8F3;
    margin-top: 100px;
}
.footer .footer-container{
    width: 70%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    padding: 100px 0;
}

.footer .footer-column {
    width: 50%;
}

.right-column{
    padding-left: 50px;
}

.footer .footer-column .section-title {
    color: #181818;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer .footer-column .section-description {
    color: #474747;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 25px;
}

.footer .footer-column .social-links .link-icon {
    padding-right: 15px;
}

.footer .footer-column .footer-column input[type="text"] {
    margin-top: 20px;
}

.footer .footer-column .footer-column,
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    background: #FFF;
}